absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
click==8.0.1
dataclasses==0.8
Flask==2.0.1
Flask-Cors==3.0.10
gast==0.5.2
grpcio==1.39.0
h5py==3.1.0
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.1
mock==4.0.3
numpy==1.19.5
protobuf==3.17.3
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
